body {
  background-color: lightblue;
}

h2{
  font-weight: bolder;
  font-family: monospace;
  text-align: center;
  font-size: 30px;
}

form {
text-align: center;

}

input {
  background-color: lightgrey;
}

.form-control {
  background-color: lightgrey;
  
}
